---
layout: default
---

<style>
  .face-img {
    border-radius: 10em;
    width: auto;
    height: 50vh;
  }
  .sub-title {
    text-transform: uppercase;
    color: #0e1841;
    font-weight: bold;
  }

  .side-title {
    color: #0e18419c;
    margin-top: 3px;
  }

  .sub-list {
    background-color: #fffeee;
    list-style: none;
    font-weight: bold;
    color: #0e1841;
  }

  .sub-text{
    background-color: #fffeee;
    color: #0e1841;
    padding: 1em;

  }
</style>

<header>
  <img src="/face.jpg" class="face-img" />
</header>
<div class="content">
  <h1 class="sub-title">이종서 | Lee Jongseo</h1>
  <h3 class='side-title'>Front-end Developer</h3>
  <hr>
  <div class="sub-text">
    대학을 마치고 개발자의 길에 눈을 뜬 신입 프론트 엔드 개발자입니다. <br><br>
    개발과 개발 공부를 인생의 즐거움으로 삼고 있으며 강한 호기심과 열정으로 탐구하는 개발자입니다.<br><br>
    웹 개발 전반에 대해 관심이 많아 Nodejs를 이용한 서버사이드와 React를 이용한 프론트 사이드를 공부하고 있습니다. <br>
  </div>
  <h1 class="sub-title">Contacts</h1>
  <ul class="sub-list">
      <li>
        &#10004 <a href="mailto:goldemshine@gmail.com">Email</a>
    </li>
    <li>
        &#10004 <a href="https://github.com/leejss" target="_blank">Github</a>
    </li>
  </ul>
  <h1 class="sub-title">Education</h1>
  <div class="sub-text">
    동국대학교 영문학과
  </div>
  <h1 class="sub-title">Skills</h1>
  <ul class="sub-list">
    <li>&#10004 React</li>
    <li>&#10004 Redux</li>
    <li>&#10004 Express.js</li>
    <li>&#10004 Passport.js</li>
    <li>&#10004 Styled-component</li>
    <li>&#10004 Python</li>
  </ul>
  <h1 class="sub-title">Projects</h1>

</div>
